body {
  font-family: 'Muli', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  font-size: 27px;
  background: none;
  font-weight: lighter;
  background-color: #3f4e5d;
}
/*----text and links--------*/
h1 {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
}
h1 span {
  border: none;
  padding: 6px 30px;
  border-radius: 4px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
}
p {
  margin: 0 0 20px 0;
}
a {
  color: #a3ce53;
  font-weight: bold;
}
a:hover {
  color: #a3ce53;
}
button,
.btn {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  padding: 6px 15px;
  border-radius: 4px;
  background-color: #a3ce53;
  color: #ffffff;
  margin: 10px 0;
}
.darkblue-btn {
  background-color: #3f4e5d;
}
.green-link {
  color: #a3ce53 !important;
  font-weight: normal;
}
hr {
  border-top: 1px solid #3f4e5d;
}
/*----Color-------*/
.white-background {
  background-color: #ffffff;
  color: #3f4e5d;
}
.darkblue-background {
  background-color: #3f4e5d;
  color: #ffffff;
}
.white-background-blue-text {
  background-color: #ffffff;
  color: #20afe3;
}
.blue-background {
  background-color: #20afe3;
  color: #ffffff;
}
.white-text {
  color: #ffffff;
}
/*----Spacing------*/
.no-padding {
  padding: 0!important;
}
.main-margin-bottom {
  margin-bottom: 100px !important;
}
.asics-main-section {
  padding-top: 100px;
  padding-bottom: 100px;
  float: left;
}
blockquote {
  border-left: none;
  font-weight: bold;
  font-size: 27px;
  height: 250px;
}
blockquote small {
  color: #ffffff;
  font-weight: normal;
}
.panel {
  background-color: transparent;
  border: none;
}
.panel .panel-heading {
  background-color: transparent;
  border: none;
}
.panel .panel-body {
  border: none !important;
}
.carousel-caption {
  top: 15%;
  position: static;
}
/*----Header----*/
.navbar-fixed-top,
.navbar-fixed-bottom {
  z-index: 900 !important;
}
.navbar {
  border: none;
}
header {
  background-color: #ffffff;
  margin-bottom: 0 !important;
}
header .utlity-bar {
  background-color: #3f4e5d;
  color: #ffffff;
  font-size: 16px;
  padding: 11px 30px 0 20px;
}
header .utlity-bar a {
  color: #ffffff;
}
header .utlity-bar a:hover,
header .utlity-bar a:focus {
  color: #ffffff;
}
header .utlity-bar .utlity-social li {
  font-size: 22px;
  padding: 0 15px;
}
header .utlity-bar .utlity-nav {
  text-align: right;
  padding-right: 15px;
}
header .utlity-bar .utlity-nav li {
  border-right: 1px solid #ffffff;
  padding: 0 15px;
}
header .utlity-bar .utlity-nav li:last-child {
  border-right: none;
  padding-right: 0px;
}
header .main-nav.affix {
  top: 0;
  width: 100%;
  z-index: 900;
  background-color: #ffffff;
  left: 0;
}
header .main-nav.affix + .utility-bar {
  padding-top: 50px;
}
header .main-nav {
  padding: 8px 0;
  -webkit-box-shadow: -8px 5px 37px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 5px 37px -5px rgba(0, 0, 0, 0.75);
  box-shadow: -8px 5px 37px -5px rgba(0, 0, 0, 0.75);
}
header .main-nav .navbar-header {
  margin-top: 8px;
}
header .main-nav .nav-pills li a {
  color: #3f4e5d;
  font-weight: bold;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 0 10px;
  font-size: 21px !important;
}
header .main-nav .nav-pills li a:hover {
  color: #ffffff;
  background-color: #3f4e5d;
  padding: 5px 10px;
}
header .main-nav .nav-pills li .active {
  color: #ffffff;
  background-color: #3f4e5d;
  padding: 5px 10px;
}
header .main-nav .nav-pills li.active > a,
header .main-nav .nav-pills li.active > a:hover,
header .main-nav .nav-pills li.active > a:focus {
  color: #ffffff;
  background-color: #3f4e5d;
  padding: 5px 10px;
}
/*-------Body------*/
.footer-more-information {
  background-color: #a3ce53;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 900;
  -webkit-box-shadow: -8px 10px 37px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 10px 37px -5px rgba(0, 0, 0, 0.75);
  box-shadow: -8px 10px 37px -5px rgba(0, 0, 0, 0.75);
  position: fixed;
  right: 0;
  top: 87%;
  width: 315px;
  padding: 5px 10px;
}
.footer-more-information a {
  color: #3f4e5d;
}
.footer-more-information .fa {
  color: #ffffff;
}
.asics-intro {
  background-image: url('../images/asics-header-img.png');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 10px 10px 5px #888888;
  background-position: center center;
}
.asics-intro .intro-header {
  color: #ffffff;
  margin-top: 28%;
  margin-bottom: 28%;
}
.asics-intro .intro-header h1 {
  border-bottom: 1px solid #ffffff;
  font-weight: bold;
  font-size: 71px;
}
.asics-intro .intro-header p {
  font-size: 38px;
}
#Products .product-highlight {
  background-color: #20afe3;
  color: #ffffff;
  padding: 5px 10px;
  position: relative;
  left: 0;
  -webkit-box-shadow: -8px 10px 37px -5px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: -8px 10px 37px -5px rgba(0, 0, 0, 0.45);
  box-shadow: -8px 10px 37px -5px rgba(0, 0, 0, 0.45);
  margin: 10px 0;
}
#Features {
  background-image: url('../images/features-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 10px 10px 5px #888888;
  background-position: center center;
}
#PunchOutSites {
  background-image: url('../images/punch-out-sites-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 10px 10px 5px #888888;
  background-position: center center;
}
#Contact .contact-info {
  font-size: 20px;
}
#Contact #ASICS-Contact-From {
  background-color: #a3ce53;
  padding: 30px;
}
#Contact #ASICS-Contact-From h2 {
  color: #ffffff;
  padding-bottom: 30px;
}
#Contact #ASICS-Contact-From button {
  background-color: #3f4e5d;
  color: #ffffff;
}
/*-------Footer-----*/
footer {
  background-color: #3f4e5d;
  color: #ffffff;
  font-size: 16px;
}
footer .free-demo-bar {
  background-color: #b43944;
  padding: 25px;
}
footer .free-demo-bar button {
  background-color: #ffffff;
  color: #b43944;
}
footer .footer-blue-bar {
  padding: 20px 25px 10px 25px;
}
footer .footer-blue-bar .row {
  padding-bottom: 40px;
}
footer .footer-blue-bar .utlity-social li {
  padding: 0 15px;
}
footer .footer-blue-bar .utlity-nav li {
  border-right: 1px solid #ffffff;
  padding: 0 15px;
}
footer .footer-blue-bar .utlity-nav li:last-child {
  border-right: none;
  padding-right: s0px;
}
footer a {
  color: #ffffff;
  font-size: 16px;
}
footer a:hover,
footer a:focus {
  color: #ffffff;
}
/* ---------------------------------------------- MEDIA QUERIES FOR DIFFERENT DEVICES ----------------- *//* For bootstrap MD */
@media (min-width: 992px) and (max-width: 1900px) {
  body {
    font-size: 24px;
  }
  h1 {
    font-size: 44px;
  }
  /*------header-----*/
  header .utlity-bar {
    font-size: 13px;
    padding: 11px 5px 0 5px;
  }
  header .main-nav .nav-pills li a {
    padding: 5px 8px;
    margin: 0 4px;
    font-size: 19px !important;
  }
  header .main-nav .nav-pills li a:hover,
  header .main-nav .nav-pills li a:focus {
    padding: 5px 8px;
  }
  header .main-nav .nav-pills li .active {
    padding: 5px 8px;
  }
  header .main-nav .nav-pills li.active > a,
  header .main-nav .nav-pills li.active > a:hover,
  header .main-nav .nav-pills li.active > a:focus {
    padding: 5px 8px !important;
  }
  /*----------body--------*/
  .asics-intro .intro-header h1 {
    font-size: 53px;
  }
  .asics-intro .intro-header p {
    font-size: 35px;
  }
  /*--------foooter-------*/
  footer {
    font-size: 14px;
  }
  footer .free-demo-bar {
    padding: 20px;
  }
  footer .footer-blue-bar .utlity-social li {
    padding: 0 10px;
  }
  footer .footer-blue-bar .utlity-nav li {
    padding: 0 4px;
  }
  footer .footer-blue-bar a {
    font-size: 14px !important;
  }
}
/* For bootstrap SM */
@media (min-width: 768px) and (max-width: 992px) {
  body {
    font-size: 20px;
  }
  h1 {
    font-size: 33px;
  }
  h2 {
    font-size: 27px;
  }
  h3 {
    font-size: 24px;
  }
  button {
    font-size: 20px;
  }
  blockquote {
    font-size: 20px;
  }
  /*------header-----*/
  header .utlity-bar {
    font-size: 14px;
    padding: 11px 5px 0 5px;
  }
  header .utlity-bar .utlity-nav {
    padding-right: 0px;
  }
  header .main-nav {
    padding: 20px 0;
  }
  header .main-nav .nav-pills li a {
    padding: 5px 3px;
    margin: 0 3px;
    font-size: 15px !important;
  }
  header .main-nav .nav-pills li a:hover,
  header .main-nav .nav-pills li a:focus {
    padding: 5px 3px;
  }
  header .main-nav .nav-pills li .active {
    padding: 5px 3px;
  }
  header .main-nav .nav-pills li.active > a,
  header .main-nav .nav-pills li.active > a:hover,
  header .main-nav .nav-pills li.active > a:focus {
    padding: 5px 3px !important;
  }
  /*----------body--------*/
  .asics-intro .intro-header h1 {
    font-size: 40px;
  }
  .asics-intro .intro-header p {
    font-size: 28px;
  }
  #Contact .contact-info {
    font-size: 16px;
  }
  /*--------foooter-------*/
  footer {
    font-size: 12px;
  }
  footer .free-demo-bar {
    padding: 16px;
  }
  footer .footer-blue-bar .utlity-social li {
    padding: 0 10px;
  }
  footer .footer-blue-bar .utlity-nav li {
    padding: 0 4px;
  }
  footer .footer-blue-bar a {
    font-size: 12px !important;
  }
}
/* LANDSCAPE PHONE displays to PORTRAIT TABLET displays - 768 and below */
@media (min-width: 414px) and (max-width: 768px) {
  
}
/* landscape PHONES and SMALLER - 767px and below*/
@media (min-width: 100px) and (max-width: 767px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  button {
    font-size: 16px;
  }
  .main-margin-bottom {
    margin-bottom: 50px !important;
  }
  .asics-main-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  blockquote {
    font-size: 16px;
    font-weight: normal;
    height: 308px;
  }
  /*------header-----*/
  header .utlity-bar {
    font-size: 13px;
    padding: 11px 5px 0 5px;
  }
  header .utlity-bar .utlity-nav {
    padding-right: 0px;
    float: left;
    text-align: left;
  }
  header .utlity-bar .utlity-nav li {
    padding: 0 7px;
  }
  header .main-nav {
    padding: 0 10px 0 0;
  }
  header .main-nav .nav-pills li {
    float: none;
  }
  header .main-nav .nav-pills li a {
    padding: 5px 8px;
    margin: 0 4px;
    font-size: 19px !important;
  }
  header .main-nav .nav-pills li a:hover,
  header .main-nav .nav-pills li a:focus {
    padding: 5px 8px;
  }
  header .main-nav .nav-pills li .active {
    padding: 5px 8px;
  }
  header .main-nav .nav-pills li.active > a,
  header .main-nav .nav-pills li.active > a:hover,
  header .main-nav .nav-pills li.active > a:focus {
    padding: 5px 8px !important;
  }
  /*----------body--------*/
  .asics-intro .intro-header {
    padding: 30% 0 0 0;
  }
  .asics-intro .intro-header h1 {
    font-size: 41px;
  }
  .asics-intro .intro-header p {
    font-size: 22px;
  }
  #Contact .contact-info {
    font-size: 16px;
  }
  footer {
    font-size: 12px;
  }
  footer a {
    font-size: 12px !important;
  }
  footer .free-demo-bar {
    padding: 10px;
  }
  footer .footer-blue-bar .row {
    padding-bottom: 15px;
  }
  footer .footer-blue-bar .utlity-social li {
    padding: 0 10px;
  }
  footer .footer-blue-bar .utlity-nav {
    text-align: center;
  }
  footer .footer-blue-bar .utlity-nav li {
    padding: 0px 4px;
    margin: 9px 0;
  }
}
