@red:#b43944;
@blue:#20afe3;
@green:#a3ce53;
@darkblue:#3f4e5d;
@white:#ffffff;

body{
	font-family: 'Muli', sans-serif;
	max-width: 100%;
	overflow-x:hidden;
	font-size:27px;
	background:none;
	font-weight: lighter;
	background-color: @darkblue;
}
/*----text and links--------*/
h1{
	font-size: 60px;
	font-weight: bold;
	text-transform:uppercase;
	span{
		border: none;
		padding:6px 30px;
		border-radius: 4px;
	}
}
button{
	font-size: 30px;
	font-weight: bold;
	text-transform:uppercase;
	border: none;
	padding:6px 15px;
	border-radius: 4px;
}
.green-link{
	color:@green !important;
	font-weight: normal;
}
/*----Color-------*/
.white-background{
	background-color: @white;
	color:@darkblue;
}
.darkblue-background{
	background-color: @darkblue;
	color:@white;
}
/*----Spacing------*/
.no-padding{
	padding:0!important;
}
.main-margin-bottom{
	margin-bottom: 50px !important;
}
.asics-main-section{
	padding:75px 50px 75px 50px;
	float: left;
}
/*----Header----*/
.navbar-fixed-top, .navbar-fixed-bottom{
	z-index: 900 !important;
}
header{
	background-color:@white;
	.utlity-bar{
		background-color: @darkblue;
		color:@white;
		font-size: 16px;
		padding:11px 30px 0 20px;
		a{
			color: @white;
		}
		a:hover, a:focus{
			color:@white;
		}
		.utlity-social li{
			font-size: 22px;
			padding: 0 15px;
		}
		.utlity-nav {
			li{
				border-right: 1px solid @white;
				padding:0 15px;
			}
			li:last-child{
				border-right: none;
				padding-right:10px;
			}
		}
	}
	.main-nav{
		margin: 30px 0 20px 0;
		padding:0 30px 0 20px;
		.nav-pills{
			li{
				a{
					color:@darkblue;
					font-weight: bold;
					border-radius: 4px;
					padding: 5px 10px;
					margin: 0 10px;
					font-size: 21px !important;
				}
				a:hover{
					color:@white;
					background-color:@darkblue;
					padding: 5px 10px;
				}
				.active, .active a{
					color:@white;
					background-color:@darkblue;
					padding: 5px 10px;
				}
			}
			li.active > a, 
			li.active > a:hover, 
			li.active > a:focus{
				color:@white;
				background-color:@darkblue;
				padding: 5px 10px;
			}
		}
	}
}
/*-------Body------*/
.asics-intro {
	background-image: url('../images/asics-header-img.png');
	background-repeat: no-repeat;
	background-size: cover;
	    box-shadow: 10px 10px 5px #888888;
	.intro-header{
		color:@white;
		margin-top:28%;
		margin-bottom:28%;
		h1{
			border-bottom: 1px solid @white;
			font-weight: bold;
			font-size: 71px;
		}
		p{
			font-size: 38px;
		}
	}
}

/*-------Footer-----*/
footer{
	background-color: @darkblue;
	color: @white;
	font-size: 16px;
	.free-demo-bar{
		background-color: @red;
		padding: 25px;
		button{
			background-color: @white;
			color:@red;
		}
	}
	.footer-blue-bar {
		padding:20px 25px 10px 25px;
		.row{
			padding-bottom:30px;
		}
		.utlity-social li{
			padding: 0 15px;
		}
		.utlity-nav{
			li{
				border-right: 1px solid @white;
				padding:0 15px;
			}
			li:last-child{
				border-right: none;
				padding-right:s0px;
			}
		}
	}
	a{
		color:@white;
		font-size: 16px;
	}
	a:hover, a:focus{
		color:@white;
	}
}