@red:#b43944;
@blue:#20afe3;
@green:#a3ce53;
@darkblue:#3f4e5d;
@white:#ffffff;

body{
	font-family: 'Muli', sans-serif;
	max-width: 100%;
	overflow-x:hidden;
	font-size:27px;
	background:none;
	font-weight: lighter;
}
/*----text and links--------*/
.green-link{
	color:@green !important;
	font-weight: normal;
}
/*----Spacing------*/
.no-padding{
	padding:0!important;
}
/*----Header----*/
header{
	.utlity-bar{
		background-color: @darkblue;
		color:@white;
		font-size: 18px;
		padding-top:11px;
		a{
			color: @white;
		}
		a:hover, a:focus{
			color:@blue;
		}
		.utlity-social li{
			font-size: 22px;
			padding: 0 15px;
		}
		.utlity-nav {
			li{
				border-right: 1px solid @white;
				padding:0 15px;
			}
			li:last-child{
				border-right: none;
				padding-right:10px;
			}
		}
	}
	.main-nav{
		margin: 30px 0 20px 0;
		.nav-pills{
			li{
				a{
					color:@darkblue;
					font-weight: bold;
					border-radius: 0px;
					padding: 5px 10px;
					margin: 0 10px;
				}
				a:hover{
					color:@white;
					background-color:@darkblue;
					padding: 5px 10px;
				}
				.active, .active a{
					color:@white;
					background-color:@darkblue;
					padding: 5px 10px;
				}
			}
			li.active > a, 
			li.active > a:hover, 
			li.active > a:focus{
				color:@white;
				background-color:@darkblue;
				padding: 5px 10px;
			}
		}
	}
}
/*-------Body------*/
.asics-intro {
	background-image: url('../images/asics-header-img.png');
	background-repeat: no-repeat;
	background-size: cover;
	.intro-header{
		color:@white;
		margin-top:28%;
		margin-bottom:28%;
		h1{
			border-bottom: 1px solid @white;
			font-weight: bold;
			font-size: 71px;
		}
		p{
			font-size: 38px;
		}
	}
}